p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.btn-panier{
  border:none;
  background: #27B29F;
  color:#ffffff;
  width:80px;
  padding:15px 0;
}


/* partie SLIDE */
.picture{
  width: 1170px;
  height: 400px;
}

/* partie MENU */
.group:after {
 content: "";
 display: table;
 clear: both;
}

ul{
  list-style: none;
}

.nom-plat{
  text-decoration: underline;
}

.img-food{
 width: 140px;
 height:100px;
 float: left;
 margin-right: 10px;
}

.food-description{}

.food-price{
  padding-left: 70vw;
  font-weight: bolder;
  color:#27B29F;
}

.adress{
  text-align: center;
}

.foot{
  background: 30px;
  background-color: #F8F8F8;
  margin: 20px;
  justify-content: space-around;
}

.foot-content{
  display: inline;
  margin: 10px;
  text-decoration: underline;
  padding: 164px;
  justify-content: center;
}

.bouton-plat{
  border:none;
  color:#ffffff;
  background:#27B29F;
  padding:10px 10px;
  font-weight: bold;
  margin-left:65vw;
}
